
.table-cell {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  /*border : none;*/
  /*border-bottom : 1px solid #C0C0C0;*/
}

/* from top-left clockwise */

.first-row.first-col {
  border-radius: 0px 0px 0px 10px;
}

.first-row.last-col {
  border-radius: 0px 0px 10px 0px;
}

.first-col {
  /* border-left : 1px solid #C0C0C0; */
}

.last-col {
  /* border-right : 1px solid #C0C0C0; */
}

.odd-col {
  /* border-left : 1px solid #C0C0C0; */

}

.first-row {
  font-weight : bold;
  /*border-top : 1px solid #C0C0C0;*/
  background-color: #eeeeee;
  padding-bottom: 20px;
  padding-top: 20px;
}

.odd-row.even-col {
  background-color: #eeeeee;
}

.even-row.even-col {
  background-color: #eeeeee;
}

.last-row {
  /*border-bottom : 1px solid #C0C0C0;*/
}

